/* details */

.poke-details {
    max-width: 450px;
    &__header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &__title {
            margin-left: 10px;
            font-size: 32px;
            font-weight: bold;
        }
    }
}

.poke-properties {
    max-width: 450px;
    border-radius: 5px;
    padding: 10px;

    &__item {
        display: flex;
        flex-flow: row nowrap;
        padding: 10px 0;
        font-weight: 500;

        &:not(:last-child) {
            border-bottom: 1px solid lightgrey;
        }

        &__feature {
            flex: 1;
        }

        &__value {
            flex: 1;

        }
    }
}

.poke-stats {
    margin-top: 25px;

    &__header {
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px solid gray;
    }

    &__list {
        margin-top: 10px;

        &__item {
            border-bottom: 1px solid lightgrey;

            .description {
                margin-left: 5px;
            }
        }
    }
}
