/* content-header */

.content-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: $content-header-bg-color;
  padding: 32px 64px;
  margin: 0 -64px 20px;

  &__icon {
    color: $brand-color;
    font-size: 32px;
    vertical-align: middle;
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin: 0 8px 0;
  }

  &__description {
    display: inline-block;
    max-width: 420px;
    vertical-align: middle;
    font-size: 11px;
    border-left: 1px solid rgba(100, 100, 100, 0.2);
    padding-left: 8px;
  }

  &__button {
  }
}
