/* header */

.header {
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  padding: 0 16px;
  z-index: 19;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__logo {
    vertical-align: middle;

    &__image {
      vertical-align: middle;
    }

    &__title {
      font-size: 20px;
      vertical-align: middle;
      margin-left: 10px;
      color: black;
    }
  }
}
