/* aside */

.aside {
  background: $sidebar-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: $header-height;
  z-index: 20;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
