<form nz-form [formGroup]="searchForm">
    <nz-form-item>
        <div class="search-area" nz-row nzType="flex" nzJustify="start" nzAlign="middle">

            <div nz-col nzSpan="6" nzPush="18">
                <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                    <nz-form-control>
                        <input type="text" #searchInput
                               nz-input placeholder="Search Pokemons" formControlName="searchText"
                               (keyup)="!searchInput.value && search('')">
                        <nz-form-explain *ngIf="searchForm.get('searchText').dirty && searchForm.get('searchText').errors">
                            The input is not valid
                        </nz-form-explain>
                    </nz-form-control>
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch
                            (click)="search(searchInput.value)">
                        <i class="anticon anticon-search"></i>
                    </button>
                </ng-template>
            </div>
        </div>
    </nz-form-item>
</form>


<nz-alert *ngIf="displayData?.length"
          nzBanner [nzType]="'success'"
          [nzMessage]="displayData?.length + ' Pokemons.'">
</nz-alert>

<nz-table [nzLoading]="tableLoading" #filterTable [nzData]="displayData">
    <thead (nzSortChange)="sort($event)" [nzSingleSort]="true">
    <tr>
        <th nzLeft="0px"
            nzShowSort nzSortKey="name">
            POKEMON
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data; let i = index">
        <td nzLeft="0px">{{data.name}}</td>
        <td align="right">
            <button nz-button nzGhost nzType="primary"
                    [routerLink]="['/details']"
                    [queryParams]="{ id : i + 1 }">
                DETAILS
            </button>
        </td>
    </tr>
    </tbody>
</nz-table>`
