<div class="poke-details" *ngIf="!isLoading">
    <div class="poke-details__header">
        <nz-avatar [nzSize]="80" [nzSrc]="this.pokemon.sprites.front_shiny">
        </nz-avatar>
        <span class="poke-details__header__title">
            {{ pokemon.name | titlecase }}
        </span>
    </div>

    <div class="poke-details__content">
        <div class="poke-stats__header">
            Basic Info
        </div>
        <div class="poke-properties">
            <div class="poke-properties__item">
                <div class="poke-properties__item__feature">
                    Order:
                </div>
                <div class="poke-properties__item__value">
                    {{ pokemon.order }}
                </div>
            </div>

            <div class="poke-properties__item">
                <div class="poke-properties__item__feature">
                    Height:
                </div>
                <div class="poke-properties__item__value">
                    {{ pokemon.height }}
                </div>
            </div>

            <div class="poke-properties__item">
                <div class="poke-properties__item__feature">
                    Weight:
                </div>
                <div class="poke-properties__item__value">
                    {{ pokemon.weight }}
                </div>
            </div>

            <div class="poke-properties__item">
                <div class="poke-properties__item__feature">
                    Species:
                </div>
                <div class="poke-properties__item__value">
                    {{ pokemon.species.name | titlecase }}
                </div>
            </div>

            <div class="poke-properties__item">
                <div class="poke-properties__item__feature">
                    Base Experience
                </div>
                <div class="poke-properties__item__value">
                    {{ pokemon.base_experience }}
                </div>
            </div>

            <div class="poke-stats">
                <div class="poke-stats__header">
                    STATS (effort/val)
                </div>
                <div class="poke-stats__list">
                    <div class="poke-stats__list__item" *ngFor="let statItem of pokemon.stats">

                        <div class="poke-properties__item">
                            <div class="poke-properties__item__feature">
                                {{ statItem.stat.name }}:
                            </div>
                            <div class="poke-properties__item__value">
                                {{ statItem.effort }} / {{ statItem.base_stat }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="poke-stats">
                <div class="poke-stats__header">
                    Abilities
                </div>
                <div class="poke-stats__list">
                    <div class="poke-stats__list__item" *ngFor="let abilityItem of pokemon.abilities">

                        <div class="poke-properties__item">
                            <div class="poke-properties__item__feature">
                                {{ abilityItem.ability.name }}:
                            </div>
                            <div class="poke-properties__item__value">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
