<ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item nz-tooltip nzPlacement="right" routerLink="/list" routerLinkActive="ant-menu-item-selected"
      [nzTitle]="isCollapsed ? 'Pokemon List' : ''">
    <span title>
      <i nz-icon type="bars"></i> <span>Pokemon List</span>
    </span>
  </li>
</ul>
