<nz-layout [class.layout--collapsed]="isCollapsed">
  <nz-header class="header">
    <div class="logo">
      <a [routerLink]="['/']" class="header__logo">
        <div *ngIf="!isCollapsed">
          <img class="header__logo_image logo__img"
               src="assets/images/pokeball.png" alt="Pokemon List"
               style="max-height:40px;" />
          <b class="header__logo__title">PokeDex</b>
        </div>
        <img class="logo__img" *ngIf="isCollapsed"
             src="assets/images/pokeball.png" alt="Pokemon List"
             style="max-height:30px;" />
      </a>
    </div>
    <div class="top-nav-wrap">
      <ul class="top-nav">
        <i nz-icon class="trigger"
           [type]="isCollapsed? 'menu-unfold' : 'menu-fold'"
           (click)="isCollapsed=!isCollapsed">
        </i>
      </ul>
      <ul class="top-nav" *ngIf="userService.activeUser">
        <nz-dropdown nzPlacement="bottomRight">
          <div class="item" nz-dropdown>
            <nz-avatar nzIcon="anticon anticon-user" nzSize="small"></nz-avatar>
            {{userService.activeUser.name}}
          </div>
          <div nz-menu>
            <div nz-menu-item (click)="logout()"><i nz-icon type="logout"></i>Log Out</div>
          </div>
        </nz-dropdown>
      </ul>

    </div>
  </nz-header>
  <nz-layout class="main-wrapper">
    <nz-sider [nzCollapsible]="true" [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate"
              [nzBreakpoint]="'lg'" [nzWidth]="200" class="aside">
      <layout-sidebar [isCollapsed]="isCollapsed"></layout-sidebar>
    </nz-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <nz-footer>
    <div class="footer">
      PokeDex &copy; 2018
    </div>
  </nz-footer>
</nz-layout>
