/* logo */

.logo {
  margin-left: -16px;
  width: 200px;
  padding-left: 24px;
  transition: width 0.2s cubic-bezier(0.25, 0, 0.15, 1);
  background: $sidebar-bg-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  &__img {
    max-width: 85%;
  }

  .layout--collapsed & {
    width: 80px;
  }
}
