/* top nav */

.top-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  > li {
    display: inline-block;
    vertical-align: middle;
  }
  .item {
    display: block;
    border-radius: 2px;
    text-align: center;
    line-height: 100%;
    padding: 8px 2px;
    min-width: 50px;
    transition: background-color 300ms;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: rgba(29, 215, 97, 0.2) !important;
    }
    > i,
    &-icon {
      font-size: 18px !important;
      // TODO: fix ant-dropdown-trigger
      transform: none !important;
    }
  }
  .item,
  nz-badge {
    color: #1dd761 !important;
  }
}
