/* ant layout */

.ant-layout-content {
  min-height: 600px;
  background: #fff;
  margin: 0 0 0 $sidebar-width;
  padding: 20px 64px 100px;
  transition: all 0.2s;

  .layout--collapsed & {
    padding-left: 32px;
    padding-right: 32px;
    margin-left: $sidebar-width-collapsed;
  }
}

.ant-layout-footer {
  margin-left: $sidebar-width;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;

  .layout--collapsed & {
    margin-left: $sidebar-width-collapsed;
  }
}
