/* ant anchor */

.ant-anchor-ink {
  &:before {
    .categories-container & {
      display: none;
    }
  }
}

.ant-anchor-link {
  .categories-container & {
    padding-left: 0;
  }
}

.ant-anchor-ink-ball {
  &.visible {
    display: none;
  }
}
