/* ==========================================================================
   #GLOBAL
   ========================================================================== */

/* Color */

$brand-color: #1ed760;
$widget-bg-color: #f9f9f9;
$sidebar-bg-color: #ebebeb;
$smoked-white: #f6f6f6;
$grey-text: #898989;
$medium-grey: #a5a5a5;
$light-grey: #d9d9d9;
$light-red: #ea5744;

$cancel-bg-color: $light-red;
$reset-bg-color: $medium-grey;
$addon-warn-bg-color: $light-red;
$content-header-bg-color: $smoked-white;

$addon-border: $smoked-white;
$plugin-information-border: $smoked-white;
$data-source-modal-border: $smoked-white;

/* Dimensions */
$header-height: 64px;
$sidebar-width: 200px;
$sidebar-width-collapsed: 80px;

/* Fonts */

$base-font: 'Roboto', 'Chinese Quote', -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
  'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
