/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto');
  src: url('/assets/fonts/roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto/Roboto-Regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/roboto/Roboto-Regular.otf')
      format('opentype'),
    /* Open Type Font */ url('/assets/fonts/roboto/Roboto-Regular.svg')
      format('svg'),
    /* Legacy iOS */ url('/assets/fonts/roboto/Roboto-Regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/assets/fonts/roboto/Roboto-Regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/assets/fonts/roboto/Roboto-Regular.woff2')
      format('woff2'); /* Modern Browsers */
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Roboto Regular Italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic');
  src: url('/assets/fonts/roboto/Roboto-Italic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto/Roboto-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/roboto/Roboto-Italic.otf')
      format('opentype'),
    /* Open Type Font */ url('/assets/fonts/roboto/Roboto-Italic.svg')
      format('svg'),
    /* Legacy iOS */ url('/assets/fonts/roboto/Roboto-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/assets/fonts/roboto/Roboto-Italic.woff')
      format('woff'),
    /* Modern Browsers */ url('/assets/fonts/roboto/Roboto-Italic.woff2')
      format('woff2'); /* Modern Browsers */
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('/assets/fonts/roboto/Roboto-Medium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto/Roboto-Medium.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/roboto/Roboto-Medium.otf')
      format('opentype'),
    /* Open Type Font */ url('/assets/fonts/roboto/Roboto-Medium.svg')
      format('svg'),
    /* Legacy iOS */ url('/assets/fonts/roboto/Roboto-Medium.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/assets/fonts/roboto/Roboto-Medium.woff')
      format('woff'),
    /* Modern Browsers */ url('/assets/fonts/roboto/Roboto-Medium.woff2')
      format('woff2'); /* Modern Browsers */
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold');
  src: url('/assets/fonts/roboto/Roboto-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto/Roboto-Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/roboto/Roboto-Bold.otf') format('opentype'),
    /* Open Type Font */ url('/assets/fonts/roboto/Roboto-Bold.svg')
      format('svg'),
    /* Legacy iOS */ url('/assets/fonts/roboto/Roboto-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/assets/fonts/roboto/Roboto-Bold.woff')
      format('woff'),
    /* Modern Browsers */ url('/assets/fonts/roboto/Roboto-Bold.woff2')
      format('woff2'); /* Modern Browsers */
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
